<div class="main-content">
    <section class="section">
      <div class="section-body">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 ">
            <div class="card">
              <div class="body">
                <div id="plist"  class="people-list">
                  <div class="chat-search">
                    <div class="form-group">
                      <div class="input-group mb-3">
                        <input type="email" name="email" [(ngModel)]="emailAdd"  required email
                        #email="ngModel" class="form-control" placeholder="email" aria-label="ddd">
                        
                        <div class="input-group-append">
                          <button (click)="addchatter(email.errors)" class="btn btn-primary addBtn "  type="button"><i class="material-icons addicon">add</i></button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div >
                    <div class="chat-scroll scroller">
                      <ul class="chat-list list-unstyled m-b-0">

                        <li (click)="openChat(i,chatterinfo)" *ngFor="let chatterinfo of chattersinfo;index as i" class="clearfix {{i==activeChat?'active':''}}">
                          <img src="assets/img/users/user-{{i%5+1}}.png" alt="avatar">
                          <div class="about">
                            <div class="name">{{chatterinfo.chatter.username}}</div>
                            <div class="status">
                              <i class="material-icons {{chatterinfo.chatter.OnlineStat==-1?'online':'offline'}}">fiber_manual_record</i>
                              <span>{{chatterinfo.chatter.OnlineStat==-1?'Online':'last seen '+ datepipe.transform(chatterinfo.chatter.OnlineStat,'HH:mm')}} </span> 
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
            <div class="card">
               <div class="chat-body">
                <div class="chat">
                    <div *ngIf="activeChat!=-1" class="chat-header clearfix">
                      <img src="assets/img/users/user-1.png" alt="avatar">
                      <div class="chat-about">
                        <div class="chat-with">{{activeChatter.chatter.username}}</div>
                        <div class="chat-num-messages">{{activeChatter.chat.length}} messages</div>
                      </div>
                    </div>
                  </div>
                  <div class="chat-box" id="mychatbox" >
                    <div *ngIf="activeChat!=-1" class="card-body chat-content" #target >
                        <div *ngFor="let chat of activeChatter.chat;index as i" class="chat-item {{chat.isSent?'chat-right':'chat-left'}}" >
                        <img src="assets/img/users/user-{{(i)%2+1}}.png">
                        <div class="chat-details">
                        <div class="chat-text"> {{chat.msg}} </div>
                        <div class="chat-time">{{datepipe.transform(chat.date,'HH:mm')}}</div>
                        </div>
                        </div>
                    </div>
                    <div *ngIf="activeChat!=-1" class="card-footer chat-form">
                      <form id="chat-form">
                        <input type="text"  name="text" [(ngModel)]="MsgTosend"  required 
                        #Msg="ngModel" class="form-control" placeholder="Type a message" >
                        <button (click)="sendChat(Msg.errors)" class="btn btn-primary">
                          <i class="far fa-paper-plane"></i>
                        </button>
                      </form>
                    </div>
                  </div>
               </div> 
              
            </div>
          </div>
        </div>
      </div>
    </section>
  
  </div>