<div [ngClass]="{'showModal':modelShowen,'fadeModel':fadeModel}" class="modal" id="modal">
    <div class="modal-dialog" role="document"   #modalDialog>
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="formModal"> profile picture</h5>
          <button type="button" class="close" (click)="closeModel()">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body modalstyle">
          <form class="">
            <div class="form-group ">
              <div class="d-flex align-items-center flex-column  justify-content-center">
                <h6><i class="fas fa-user-friends mr-1"></i>this image is Visible for the public </h6>
                <div *ngIf="imageUploadErr" class="alert alert-danger alert-has-icon">
                  <div class="d-flex align-items-center mr-1">
                    <div class="alert-icon"><i class="fas fa-user-friends"></i></div>
                    <div class="alert-body">
                        {{imageUploadErrMsg}}
                    </div>
                  </div>
                  
                </div>
                <figure class="avatar mr-2 avatar-xl "  [ngClass]="{'avatarInitials':!croppedImage&&previewImaurl.length==2}" [attr.data-initial]="previewImaurl">
                  <input [(ngModel)]="imageForm" #profileInput  hidden type="file"  name="profileInput"    accept="image/x-png,image/gif,image/jpeg" (change)="getProfileInput($event)"  >
                  <img *ngIf="croppedImage||previewImaurl.length>2" class="avatar" [src]="croppedImage || previewImaurl" alt="...">
                </figure>
                <image-cropper
                id="cropper"
                style="max-height: 100px;"
                style="max-width: 250px;"
                [imageChangedEvent]="imageChangedEvent"
                [maintainAspectRatio]="true"
                [aspectRatio]="1 / 1"
                [onlyScaleDown]="true"
                [roundCropper]="false"
                [alignImage]="'center'"
                [style.display]="showCropper ? null : 'none'"
                format="png"
                (imageCropped)="imageCropped($event)"
                (imageLoaded)="imageLoaded()"
                (cropperReady)="cropperReady($event)"
                (loadImageFailed)="loadImageFailed()"
                ></image-cropper>
              </div>
             
              <div class="d-flex align-items-center justify-content-center">
                <button (click)="profileInput.click()" class="btn btn-primary m-t-15 waves-effect mr-2 " type="button">change</button>
                <button (click)="deleteImage()" class="btn btn-danger m-t-15 waves-effect " type="button">delete</button>
              </div>
              <div class="d-flex align-items-center justify-content-center m-t-5"><button  *ngIf="croppedImage||deletedImage" (click)="uploadImage()" class="btn btn-info m-t-3 waves-effect d-flex justify-content-center align-items-center" type="button"> <span>Upload</span>  <app-spinner  class="ml-2" *ngIf="loading" [type]="1"></app-spinner></button></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>