<div class="main-content">
	<section class="section">
		<div class="section-body ">
			<div class="row">
				<div *ngIf="!personalEvents" class="col-lg-3 col-md-6 col-sm-6 col-12">
					<div class="card card-statistic-1 grow2 classCard classCardPersonal " >
						<div class="h-100 flex-containerr">
							<div class="padding-20">
								<div class="flex-containerr">
									<h4 class="text-dark mb-2">personal</h4>
									<span class="font-dark  text-dark">
										<i class="ti-arrow-up text-dark">events : </i>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div *ngIf="personalEvents" class="col-lg-3 col-md-6 col-sm-6 col-12">
					<div (click)="toggleClass(-1)" class="card card-statistic-1 grow2 classCard classCardPersonal "
						[ngClass]="{'active-class':personalEvents.class.chosen}">
						<div class="h-100 flex-containerr">
							<div class="padding-20">
								<div class="flex-containerr">
									<h4 class="text-dark mb-2">{{personalEvents.class.name}}</h4>
									<span class="font-dark  text-dark">
										<i class="ti-arrow-up text-dark">events : {{personalEvents.class.count}}</i>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div *ngFor="let class of MyClasses index as i" class="col-lg-3 col-md-6 col-sm-6 col-12">
					<div (click)="toggleClass(i)" class="card card-statistic-1 grow2 classCard"
						[ngClass]="{'active-class':class.class.chosen}">
						<div class="card-icon classCardIcon">
							<div class="d-flex flex-column justify-content-center align-items-center h-100 ">
								<i class="fas {{parsesubjectIcon(class.class.subject)}} mb-1"></i>
								<span class=" text-light"
									style="font-size: 15px;line-height: 15px; font-weight: 500;">{{parsesubject(class.class.subject)}}</span>
							</div>
						</div>
						<div class="h-100 flex-containerr">
							<div class="padding-20">
								<div class="flex-containerr">
									<h4 class="text-light mb-2">{{class.class.name}}</h4>
									<span class="font-light  text-light">
										<i class="ti-arrow-up text-light">events : {{class.class.count}}</i>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<ng-container *ngIf="!MyClasses.length">
					<div *ngFor="let i of [].constructor(classesAcceptedInCount)" class="col-lg-3 col-md-6 col-sm-6 col-12">
					  <div class="card card-statistic-1 grow2 classCard">
						<app-sceleton-load [type]="1" [height]="100" [width]="-1" [border]="10"></app-sceleton-load>
					  </div> 
					</div>
				  </ng-container>
			</div>
			<div class=" calendarCard card card-primary">
				<div *ngIf="clicktoEdit" class="clickAlert {{allEvents.length==0?'clickAlertNoEv':''}}">
					<div class="alert alert-info {{allEvents.length!=0?'alert-info':'alert-warning'}}   ">
						{{allEvents.length!=0?'click an event':'there is no event to edit'}}
					</div>
				</div>
				<div *ngIf="clicktodelete" class="clickAlert {{allEvents.length==0?'clickAlertNoEv':''}}">
					<div class="alert alert-info {{allEvents.length!=0?'alert-info':'alert-warning'}}   ">
						{{allEvents.length!=0?'click an event':'there is no event to delete'}}
					</div>
				</div>

				<div class="card-header">
					<h4>{{calendarTitle}}</h4>
					<div class="card-header-action2">
						<!--<a (click)="addevent()" class="btn preventunselect" [ngClass]="{'btn-primary':!dateselected,'btn-info':dateselected}" ><span>add Event</span></a>-->
						<a (click)="changetype()" class="btn btn-primary">
							<span>type :{{islistview?'List':'Calendar'}}</span>
						</a>
						<a (click)="nextView()" class="btn btn-primary"><span>View :
								{{viewType==0?'Month':viewType==1?'Week':'Day'}}</span></a>
						<div class="btn-group">
							<a (click)="navigate(1)" class="btn btn-primary"><span><i
										class="material-icons">chevron_left</i></span></a>
							<a (click)="navigate(-1)" class="btn btn-primary"><span>Today</span></a>
							<a (click)="navigate(2)" class="btn btn-primary"><span><i
										class="material-icons">chevron_right</i></span></a>
						</div>
						<div class="dropdown preventunselect">
							<div (click)="toggleDD()" class="iconBtn">
								<div class="iconBtnBack ">
									<a class="col-dark-gray waves-effect">
										<i class="material-icons">more_vert</i>
									</a>
								</div>
							</div>
							<div [ngClass]="{'showDD':showDD}" class="dropdown-menu dropdown-menu-right" #moreDD>
								<a (click)="addevent()" class="dropdown-item has-icon col-black"><i
										class="fas fa-plus"></i>add event</a>
								<a (click)="editEvent()" class="dropdown-item has-icon col-black"><i
										class="far fa-edit"></i> Edit</a>
								<div class="dropdown-divider"></div>
								<a (click)="showDeleteModal()" class="dropdown-item has-icon text-danger"><i
										class="far fa-trash-alt"></i>
									Delete</a>
							</div>
						</div>
					</div>
				</div>
				<div class="card-body">
					<full-calendar id="calendar" [options]="calendarOptions" #calendar></full-calendar>
				</div>
			</div>
		</div>
	</section>
</div>
<div [ngClass]="{'showModal':modelShowen,'fadeModel':fadeModel}" class="modal" id="modal">
	<div class="modal-dialog " role="document" #modalDialog>
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="formModal">{{addnotEditEvent?'Add Event':'Edit Event'}}</h5>
				<button type="button" class="close" (click)="closeModel()">
					<span>&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form class="">
					<!-- <div *ngIf="dateIsSelected&&addnotEditEvent" class="d-flex justify-content-center">
						<div class="alert alert-primary alert-has-icon p-1 px-3">
							<div class="alert-icon"><i class="far fa-lightbulb"></i></div>
							<span class="mt-1">you can slect a date then click add event</span>
						</div>
					</div> -->
					<div class="input-group">
						<select (click)="editoption()" *ngIf="!addnotEditEvent" class="custom-select"
							[(ngModel)]="eventToEdit" #EditSelect="ngModel" name="EditSelect">
							<option value="-1">click select then click an event or choose from this list </option>
							<option *ngFor="let event of allEvents ,index as i" [ngValue]="event.id">"{{event.title}}"
								from:{{datepipe.transform(event.start,'dd-MM-yyyy HH:mm')}}
								to:{{datepipe.transform(event.end,'dd-MM-yyyy HH:mm')}}</option>
						</select>
						<div *ngIf="!addnotEditEvent" class="input-group-append">
							<button (click)="selectEvent()" class="btn btn-primary" type="button">Select </button>
						</div>
					</div>
					<div class="form-group mb-2">
						<label class="mb-1">Event : </label>
						<input name="event" [(ngModel)]="form.event" type="text" class="form-control"
							placeholder="My Event">
					</div>
					<div class="form-group mb-2">
						<label class="mb-1">From : </label>
						<input name="startDate" [(ngModel)]="form.startDate" type="date" class="form-control">
						<input name="startTime" [(ngModel)]="form.startTime" type="time" class="form-control">
					</div>
					<div class="form-group mb-3">
						<label class="mb-1">To : </label>
						<input name="endDate" [(ngModel)]="form.endDate" type="date" class="form-control">
						<input name="endTime" [(ngModel)]="form.endTime" type="time" class="form-control">
					</div>
					<!-- <div class="row gutters-xs d-flex justify-content-center ">
						<div class="col-auto">
							<label class="colorinput">
								<input [(ngModel)]="colorInput" name="color" type="radio" value="#007bff"
									class="colorinput-input" />
								<span class="colorinput-color bg-primary"></span>
							</label>
						</div>
						<div class="col-auto">
							<label class="colorinput">
								<input [(ngModel)]="colorInput" name="color" type="radio" value="#6c757d"
									class="colorinput-input" />
								<span class="colorinput-color bg-secondary"></span>
							</label>
						</div>
						<div class="col-auto">
							<label class="colorinput">
								<input [(ngModel)]="colorInput" name="color" type="radio" value="#17a2b8"
									class="colorinput-input" />
								<span class="colorinput-color bg-info"></span>
							</label>
						</div>
					</div> -->
					<div class="d-flex align-items-center justify-content-center">
						<button *ngIf="!addnotEditEvent&&eventToEdit==='-1'" type="button"class="btn btn-secondary m-t-15 waves-effect ">Edit Event</button>
						<button *ngIf="addnotEditEvent||eventToEdit!=='-1'" (click)="submitModal()" type="button"
							class="btn btn-primary m-t-15 waves-effect ">{{addnotEditEvent?'Add Event':'Edit Event'}}</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div [ngClass]="{'showModal':modelShowenDelete,'fadeModel':fadeModelDelete}" class="modal" id="modal">
	<div class="modal-dialog " role="document" #modalDialogDelete>
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="formModal">Delete Event</h5>
				<button type="button" class="close" (click)="closeModelDelete()">
					<span>&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form class="">
					<div class="form-group">
						<div class="input-group">
							<select class="custom-select" [ngClass]="{'border-danger':eventToDelete!=='-1'}"
								[(ngModel)]="eventToDelete" #DeleteSelect="ngModel" name="DeleteSelect">
								<option value="-1">click select then click an event or choose from this list </option>
								<option *ngFor="let event of allEvents" [ngValue]="event.id">"{{event.title}}"
									from:{{datepipe.transform(event.start,'dd-MM-yyyy HH:mm')}}
									to:{{datepipe.transform(event.end,'dd-MM-yyyy HH:mm')}}</option>
							</select>
							<div class="input-group-append">
								<button (click)="DeleteEvent(eventToDelete==='-1')"
									class="btn {{eventToDelete==='-1'?'btn-primary':'btn-danger'}}"
									type="button">{{eventToDelete==='-1'?'Select':'Delete'}}</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>