.StreamCard {
    transition: all .2s ease-out;
    min-height: 450px;
  }
  
  .classhidden {
    transform: scale(1, 0);
  }
  
  .invisible2 {
    visibility: hidden;
  }
  .centerColumn>* {
    text-align: center;
  }
  
  .showDD {
    display: block;
  }
  .tablestream {
    // border: 2px solid red;
    // overflow: hidden;
    padding-bottom: 50px;
  }
  
  .spacerinTable {
    height: 10px;
  }

  .BtnToLeft {
    position: absolute;
    left: 20px;
  }
  
  .BtnToRight {
    position: absolute;
    right: 20px;
  }
  .accordion-header h4{
    text-align: center;
  }
  // .accordion-body p{
  //   text-align: center;
  // }
  .accordion-header{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .accordion-body {
    border:1px solid #5864bd;
    border-top: unset;
 }
 .boardSelect{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  h6{
    width: 25% ;
  }
  select{
    width: 60%;
  }
 }
 .open-btn{
  margin: auto !important;
 }