<div style="min-height: 900px;" class="main-content">
    <section style="min-height: 800px;" class="section">
        <div class="divider"><span></span><span>Classes</span><span></span></div>
        <div class="row">
            <div *ngFor="let class of MyClasses index as i" class="col-lg-3 col-md-6 col-sm-6 col-12">
              <div (click)="chooseClass(i)" class="card card-statistic-1 grow2 classCard" [ngClass]="{'active-class':chosenIndex==i}" >
                <div class="card-icon classCardIcon">
                  <div class="d-flex flex-column justify-content-center align-items-center h-100 ">
                    <i class="fas {{parsesubjectIcon(class.subject)}} mb-1"></i>
                    <span class=" text-light" style="font-size: 15px;line-height: 15px; font-weight: 500;">{{parsesubject(class.subject)}}</span>
                  </div>
                </div>
                <div class="h-100 flex-containerr">
                  <div class="padding-20">
                    <div class="flex-containerr">
                      <h4 class="text-light mb-2">{{class.name}}</h4>
                      <span class="font-light  text-light">
                        <i class="ti-arrow-up text-light">code : {{class.uuid}}</i>
                      </span>
                      <strong *ngIf="!class.accepted" class="text-light">status : <span class="{{class.accepted?'text-success2':'text-danger2'}}" >{{class.accepted?'Accepted':'Waiting'}}</span></strong>
                            
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="{{MyClasses&&MyClasses.length%4==0?' col-lg-6 offset-lg-3  col-md-8 offset-md-2 col-sm-12 col-12 ':'col-lg-3 col-md-6 col-sm-6 col-12'}} 2">
                <div   class="  d-flex flex-column justify-content-center align-items-center  ">
                <div [ngClass]="{'add-bttn-Card-Expanded':expandAddcard}"  class="card add-bttn-Card  "  #cardAdd>
                  <div  [ngClass]="{'uuid-input-Expanded':expandAddcard,'uuid-input-display-non':!uuidDisplay}" class="uuid-input">
                    <input required minlength="6" #uuid="ngModel"  title="uuid" type="tex" [(ngModel)]="retreaveduuid" placeholder="class code"
                    class="form-control  "  [ngClass]="{'is-invalid':(uuid.errors &&submited)||(submiterrcode!=-1&&submittduuid==retreaveduuid)}">
                    <div class="invalid-feedback" role="alert" *ngIf="uuid.errors &&submited" >
                      <div *ngIf="uuid.errors['required']">code required</div>
                      <div *ngIf="uuid.errors['minlength']">code too short</div>
                    </div>
                    <div class="invalid-feedback" *ngIf="(submiterrcode!=-1&&submittduuid==retreaveduuid)">{{submiterrstr}}</div>
                    
                  </div>
                  <!-- TODO add loading animation  -->
                   <button (click)="oppenAddClass(uuid.errors)" title="add new class" [ngClass]="{'add-bttn-Expanded':expandAddcard}" class="add-bttn grow3">
                    <i *ngIf="!loading"  class="fas fa-plus col-white "></i>
                    <i> <app-spinner *ngIf="loading" [type]="1"></app-spinner></i>
                    
                  </button>
                  </div>
                </div>
                  
              </div>
          </div>

        <div style="height: 800px;"  class="section-body  d-flex flex-column ">
            <div style="height: 800px;" class="row">
              <div style="height: 800px;" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div style="height: 800px;" class="card ">
                  <div  class="card-body ">
                      <section  class="gray-bg padding-top-bottom">
                        <!--==== Portfolio Filters ====-->
                        <div class="categories">
                          <ul>
                            <li [ngClass]="{'active':oppenedtab==1}">
                              <a class="pointer" (click)="oppenTab(1)" >class Info</a>
                            </li>
                            <li [ngClass]="{'active':oppenedtab==2}">
                              <a class="pointer" (click)="oppenTab(2)" >Tasks</a>
                            </li>
                            <li [ngClass]="{'active':oppenedtab==3}">
                                <a class="pointer" (click)="oppenTab(3)" >Notifications</a>
                              </li>
                            <!-- <li>
                              <a class="pointer"  data-filter=".apps">Apps</a>
                            </li>
                            <li>
                              <a class="pointer"  data-filter=".psd">PSD</a>
                            </li> -->
                          </ul>
                        </div>

                      </section>
                      <div *ngIf="oppenedtab==1" >
                        <div *ngIf="chosenClass" class="row">
                          <div ></div>
                          <div class="col-md-2 offset-md-1 col-6 offset-0 b-r">
                            <strong>class name </strong>
                            <br>
                            <p class="text-muted">{{chosenClass.name}}</p>
                          </div>
                          <div class="col-md-2 col-6 b-r">
                            <strong>teacher</strong>
                            <br>
                            <p class="text-muted">{{chosenClass.teacher}}</p>
                            
                          </div>
                          <div class="col-md-2 col-6 b-r">
                            <strong>Subject</strong>
                            <br>
                            <p class="text-muted">{{parsesubject(chosenClass.subject)}}</p>
                          </div>
                          <div class="col-md-2 col-6">
                            <strong>code</strong>
                            <br>
                            <p class="text-muted">{{chosenClass.uuid}}</p>
                          </div>
                          <div class="col-md-2 col-6">
                            <strong>status :</strong>
                            <br>
                            <p class="{{chosenClass.accepted?'text-success':'text-danger'}}" >{{chosenClass.accepted?'Accepted':'Waiting'}}</p>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </section>
</div>