.fadetab {
    -webkit-transition: opacity .35s  ease-in-out;
    transition: opacity  .35s  ease-in-out;
    opacity: 1;
}

.unfadetab{
    opacity: 0
}
.avatar .avatar-icon2 {
    background: none;
    border: none;
    bottom: 14.64%;
    height: 50%;
    padding: 0.1rem;
    position: absolute;
    right: 14.64%;
    transform: translate(50%, 50%);
    width: 50%;
    z-index: 2
}
.avatar .avatar-icon2-back {
    bottom: 14.64%;
    height: 15%;
    padding: 0.1rem;
    position: absolute;
    right: 14.64%;
    transform: translate(50%, 50%);
    width: 15%;
    z-index: 1;
    background: #fff;
}
.photo_camera{
    color: #444;
}
.avatar-icon2:hover .photo_camera{
    scale: 1.1;
    transition: scale .07s  ease-out ;
}
.profileInput{
    display: none;
}

//duplicates

.scroller {
  overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  

}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(192, 192, 192,0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(97, 97, 97, 0.753);
  border-radius: 5px ;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(97, 97, 97,0.8);
}
  .showDD{
    display: block;
  }
  .dropdown-menu{
    width: 60px;
  }
