<app-profile-image [modalEvent]="modalEvent.asObservable()" [user]="user"  ></app-profile-image  >
<div class="main-content">
    <section class="section">
      <div class="section-body">
        <div class="row mt-sm-4">
          <div class="col-12 col-md-12 col-lg-4">
            <div class="card author-box">
              <div class="card-body">
                <div class="author-box-center">
                  <div>
                    <figure class="avatar mr-2 avatar-xl"  [ngClass]="{'avatarInitials':user.profileImage.length==2}" [attr.data-initial]="user.profileImage" >
                      <img *ngIf="user.profileImage.length>2" [src]="user.profileImage" alt="...">
                      <a (click)="showModel(1)"   class="avatar-icon2 pointer"><i  class="material-icons photo_camera lightIcon">photo_camera</i></a>
                      <i class="avatar-icon2-back" ></i>
                    </figure>
                  </div>

                  <div class="clearfix"></div>
                  <div class="author-box-name">
                    <a >{{user.fName}} {{user.lName}}</a>
                  </div>
                  <div class="author-box-job">{{mainRole}}</div>
                </div>
                <div class="text-center">
                  <div class="author-box-description">
                    <p>
                      {{user.USERDETAILS.bio}}
                    </p>
                  </div>        
                  <div class="w-100 d-sm-none"></div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h4>Personal Details</h4>
              </div>
              <div class="card-body">
                <div class="py-2">
                  <p class="clearfix">
                    <span class="float-left">
                      username
                    </span>
                    <span class="float-right text-muted">
                      {{user.username}}
                    </span>
                  </p>
                  <p class="clearfix">
                    <span class="float-left">
                      Mail
                    </span>
                    <span class="float-right text-muted">
                      {{user.email}}
                    </span>
                  </p>
                  <p class="clearfix">
                    <span class="float-left">
                      Birth date
                    </span>
                    <span class="float-right text-muted">
                      {{datepipe.transform(user.birthDate, 'dd-MM-yyyy')}}
                    </span>
                  </p>
                  <p class="clearfix">
                    <span class="float-left">
                      grade
                    </span>
                    <span class="float-right text-muted">
                      {{grade}}
                    </span>
                  </p>
                </div>
              </div>
            </div>
            <!--<div class="card">
              <div class="card-header">
                <h4>Skills</h4>
              </div>
              <div class="card-body">
                <ul class="list-unstyled user-progress list-unstyled-border list-unstyled-noborder">
                  <li class="media">
                    <div class="media-body">
                      <div class="media-title">Java</div>
                    </div>
                    <div class="media-progressbar p-t-10">
                      <div class="progress" data-height="6">
                        <div class="progress-bar bg-primary" data-width="70%"></div>
                      </div>
                    </div>
                  </li>
                  <li class="media">
                    <div class="media-body">
                      <div class="media-title">Web Design</div>
                    </div>
                    <div class="media-progressbar p-t-10">
                      <div class="progress" data-height="6">
                        <div class="progress-bar bg-warning" data-width="80%"></div>
                      </div>
                    </div>
                  </li>
                  <li class="media">
                    <div class="media-body">
                      <div class="media-title">Photoshop</div>
                    </div>
                    <div class="media-progressbar p-t-10">
                      <div class="progress" data-height="6">
                        <div class="progress-bar bg-green" data-width="48%"></div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>-->
          </div>
          <div class="col-12 col-md-12 col-lg-8">
            <div class="card">
              <div class="padding-20">
                <ul class="nav nav-tabs">
                  
                  <li  class="nav-item"  >
                    <a (click)="showTab(0)" class="nav-link pointer " [ngClass]="{'show active':showenTab==0}">About</a>
                  </li>
                  <li class="nav-item">
                    <a (click)="showTab(1)" class="nav-link pointer " [ngClass]="{'show active':showenTab==1}">Edit Profile</a>
                  </li>
                </ul>
                <div class="tab-content tab-bordered" >
                  <div class="tab-pane " [ngClass]="{'show active':showenTab==0,'fadetab':showenTabFade==0,'unfadetab':showenTabFade!=0 }"  >
                    <div  class="row">
                      <div class="col-md-3 col-6 b-r">
                        <strong>Full Name</strong>
                        <br>
                        <p class="text-muted">{{user.fName}} {{user.lName}}</p>
                      </div>
                      <div class="col-md-3 col-6 b-r">
                        <strong>Roles</strong>
                        <br>
                        <p  *ngFor="let role of roles.reverse()" class="text-muted my-0">{{role}}</p>
                        
                      </div>
                      <div class="col-md-3 col-6 b-r">
                        <strong>Email</strong>
                        <br>
                        <p class="text-muted">{{user.email}}</p>
                      </div>
                      <div class="col-md-3 col-6">
                        <strong>Location</strong>
                        <br>
                        <p class="text-muted">Morocco</p>
                      </div>
                    </div>
                    <p class="m-t-30"></p>
                    <p></p>
                    <p></p>
                    <div class="section-title"></div>
                    <ul>
                    </ul>
                    <div class="section-title"></div>
                    <ul>  
                    </ul>
                  </div>
                  <div class="tab-pane " [ngClass]="{'show active':showenTab==1,'fadetab':showenTabFade==1,'unfadetab':showenTabFade!=1 }" >
                    <app-profile-setting  [user]="user"></app-profile-setting>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>