<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <div [ngClass]="{'invisible2':!editing}" (click)="backToList()" class="iconBtn">
          <div class="iconBtnBack ">
            <a data-toggle="tooltip">
              <i class="material-icons">arrow_back</i>
            </a>
          </div>
        </div>
        <h4 class="text-center width-per-100"><span style="left: -12px;" class="position-relative">

            <figure *ngIf="editing" class="avatar mr-2"
              [ngClass]="{'avatarInitials':selectedUser.profileImage.length==2}"
              [attr.data-initial]="selectedUser.profileImage">
              <img class="avatarImg" *ngIf="selectedUser.profileImage.length>2" [src]="selectedUser.profileImage"
                alt="...">
            </figure>
            {{editing?selectedUser.username:'Users'}}
          </span></h4>
      </div>
      <div class="card-body {{editing?'':'p-0'}}">
        <!-- <table datatable [dtOptions]="dtOptions"  class="row-border hover"> -->
        <div *ngIf="!editing" class="table-responsive">
          <table class="table table-striped">
            <thead>
              <th class="pl-4">Pic</th>
              <th>Username</th>
              <th>Roles</th>
              <th>Status</th>
              <th>First name</th>
              <th>Last name</th>
              <th>Email</th>
              <th>Edit</th>
            </thead>
            <tbody>
              <tr *ngFor="let user of usersList">
                <td>
                  <figure class="avatar" [ngClass]="{'avatarInitials':user.profileImage.length==2}"
                    [attr.data-initial]="user.profileImage">
                    <img class="avatarImg" *ngIf="user.profileImage.length>2" [src]="user.profileImage" alt="...">
                  </figure>
                </td>
                <td>{{user.username}}</td>
                <td class=""><span style="display: block; margin: 0 auto;"
                    *ngFor="let role of user.roles.reverse()  ">{{role}}</span> </td>
                <td>
                  <div class="status">
                  <i class="material-icons {{user.OnlineStat==-1?'online':'offline'}}">fiber_manual_record</i>
                  <span>{{user.OnlineStat==-1?'Online':''+ datepipe.transform(user.OnlineStat,'HH:mm dd/MM/yy')}}</span> 
                </div>
              </td>
                <td>{{user.fName}}</td>
                <td>{{user.lName}}</td>
                <td>{{user.email}}</td>
                <td>
                  <div (click)="edit(user.username)" class="btn btn-info pointer">view</div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="editing">
          <div class="row">
            <div class="col-md-2 col-6 b-r">
              <strong>Username</strong>
              <br>
              <p class="text-muted">{{selectedUser.username}}</p>
            </div>
            <div class="col-md-2 col-6 b-r">
              <strong>Full Name</strong>
              <br>
              <p class="text-muted">{{selectedUser.fName}} {{selectedUser.lName}}</p>
            </div>
            <div class="col-md-2 col-6 b-r">
              <strong>Email</strong>
              <br>
              <p class="text-muted">{{selectedUser.email}}</p>
            </div>
            <div class="col-md-2 col-6 b-r">
              <strong>Birth date</strong>
              <br>
              <p class="text-muted">{{datepipe.transform(selectedUser.birthDate, 'dd-MM-yyyy')}}</p>
            </div>
            <div class="col-md-2 col-6 b-r">
              <strong>grade</strong>
              <br>
              <p class="text-muted">{{parsegrade(selectedUser.grade)}}</p>
            </div>
            <div class="col-md-2 col-6 b-r">
              <strong>verification</strong>
              <br>
              <p [ngClass]="{'text-success':selectedUser.verified,'text-danger':!selectedUser.verified}">
                {{selectedUser.verified?'verified':'not verified'}}</p>
            </div>
          </div>
          <div class="form-group ">
            <div class="selectgroup selectgroup-pills">
              <ul class="list-group roles-group">
                <li class="list-group-item d-flex  align-items-center">
                  <label class="form-label mb-0">
                    <h6 class="mr-3">Roles</h6>
                </label>
              <label   class="selectgroup-item mb-0 ">
                <input type="checkbox" name="user" [(ngModel)]="form.user" value="user" class="selectgroup-input">
                <span class="selectgroup-button">User</span>
              </label>
              <label  class="selectgroup-item mb-0 ">
                <input type="checkbox" name="teacher" [(ngModel)]="form.teacher" value="teacher"
                  class="selectgroup-input">
                <span class="selectgroup-button">Teacher</span>
              </label>
              <label  class="selectgroup-item mb-0 ">
                <input type="checkbox" name="moderator" [(ngModel)]="form.moderator" value="moderator"
                  class="selectgroup-input">
                <span class="selectgroup-button">Moderator</span>
              </label>
              <label  class="selectgroup-item mb-0 ">
                <input type="checkbox" name="admin" [(ngModel)]="form.admin" value="admin" class="selectgroup-input">
                <span class="selectgroup-button">Admin</span>
              </label>
              <span (click)="submitRoles()" [ngClass]="{'btn-info pointer':changeRoleResult==-1,'btn-success':changeRoleResult==1,'btn-danger':changeRoleResult==2}" class="btn btn-info d-flex justify-content-center align-items-center" >
                {{changeRoleResult==-1?'Submit':changeRoleResult==1?'success':'failed'}}
              <span *ngIf="loading" class="mx-2"></span>
              <app-spinner *ngIf="loading" [type]="1"></app-spinner></span>
            </li>
          </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>