.topSection{
    background-image: url("../../../assets/img/topImg12.svg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
    height: 1024px;
}
@media (max-width: 1024px) {

}