<div [ngClass]="{'invisible2':streamStatus!=1}">
    <div [ngClass]="{'invisible2':params.mode !=3}" id="meetingSDKElement" #meetingSDKElement>
    </div>
    <div [ngClass]="{'invisible2':connectionstatus!=0}" >
        <h1 class="full-center"> starting ....</h1>
    </div>
    <div [ngClass]="{'invisible2':connectionstatus!=1}">
        <h1 class="full-center"> finding Host ....</h1>
    </div>
    <div [ngClass]="{'invisible2':connectionstatus!=3}">
        <h1 class="full-center"> Host is not connected Retry <div (click)="connect()" class=" btn btn-success pointer open-btn my-auto"> connect </div> </h1>
    </div>
    <div [ngClass]="{'invisible2':connectionstatus!=4}">
        <h1 class="full-center"> <span *ngIf="disconnectType==1" >you were disconnected</span> <span *ngIf="disconnectType==2" >connection was established elswere </span>  <div (click)="connect()" class=" btn btn-success pointer open-btn my-auto"> connect </div> </h1>
    </div>

    <div [ngClass]="{'invisible2':connectionstatus!=2}">
        <h1 class="full-center" *ngIf="!call.boardMedia">waiting Call ... </h1>
    </div>

</div>

<div *ngIf="streamStatus==0">
    <h1 class="full-center">stream didn't start yet</h1>
</div>
<canvas #canvas width="600" height="300"></canvas>
params.mode{{params.mode}}

<div>
    Media Recieved
    <div id="streamcontent" #streamcontent></div>
    <video id="boardvideo" #boardvideo></video>
    <video id="camvideo" #camvideo></video>
    <video id="audio" #audio></video>
</div>