.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.05);box-shadow: 0 15px 30px 0 rgba(90, 97, 105, 0.4) }
.card-statistic-4{
    padding-left: 18px;
}
.card-content h3{
    white-space: nowrap;
    z-index: 200!important;
}
.banner-img img{
    z-index: 100!important;
}
@media(max-width:576px) {
    .card-content h3{
        font-size: 30px!important ;
    }
    .card-content h5{
       font-size:24px!important ;
   }
   .card-content p {
    font-size:18px!important ;
   }
}
@media(min-width:576px)
 {
    @media(max-width:768px) {
        .card-content h3{
            font-size: 20px!important ;
        }
        .card-content h5{
           font-size:20px!important ;
       }
       .card-content p {
        font-size:18px!important ;
       }
    }
}
@media(min-width:768px ) {
    @media(max-width:992px) {
        .card-content h3{
            font-size: 30px!important ;
        }
        .card-content h5{
           font-size:24px!important ;
       }
       .card-content p {
        font-size:24px!important ;
       }
    
}
}
@media(min-width:992px) {
    @media(max-width:1200px) {
        .card-content h3{
            font-size: 30px!important ;
        }
        .card-content h5{
           font-size:24px!important ;
       }
       .card-content p {
        font-size:24px!important ;
       }
    }
}
@media(min-width:1200px) { 
        .card-content h3{
            font-size: 18px!important ;
        }
        .card-content h5{
           font-size:16px!important ;
       }
       .card-content p {
        font-size:15px!important ;
       }
}
.active-mod-page{
    border:2px solid ;
}