<div class="row">
  <div *ngIf="chosenIndex==-1" class="d-flex justify-content-center w-100" > <span class="alert alert-primary">choose a class </span>  </div>
  <div class="col-12">
    <div class="card classCard" [ngClass]="{'classhidden':chosenIndex==-1}">
      <div class="card-header">
        <div [ngClass]="{'invisible2':!editing}" (click)="backToList()" class="iconBtn">
          <div class="iconBtnBack ">
            <a data-toggle="tooltip">
              <i class="material-icons">arrow_back</i>
            </a>
          </div>
        </div>
        <h4 class="text-center width-per-100"><span style="left: -12px;" class="position-relative">

            <figure *ngIf="editing" class="avatar mr-2"
              [ngClass]="{'avatarInitials':selectedUser.profileImage.length==2}"
              [attr.data-initial]="selectedUser.profileImage">
              <img class="avatarImg" *ngIf="selectedUser.profileImage.length>2" [src]="selectedUser.profileImage"
                alt="...">
            </figure>
            {{editing?selectedUser.username:'users'}}
          </span></h4>
      </div>
      <div class="card-body">
        <div *ngIf="!editing" class="table-responsive">
          <table class="table table-striped">
            <thead>
              <th class="pl-4">Pic</th>
              <th>Username</th>
              <th>Roles</th>
              <th>Status</th>
              <th>First name</th>
              <th>Last name</th>
              <th>Email</th>
              <th>Edit</th>
            </thead>
            <tbody>
              <tr *ngFor="let user of chosenClass?.enrollers">
                <td>
                  <figure class="avatar" [ngClass]="{'avatarInitials':user.profileImage.length==2}"
                    [attr.data-initial]="user.profileImage">
                    <img class="avatarImg" *ngIf="user.profileImage.length>2" [src]="user.profileImage" alt="...">
                  </figure>
                </td>
                <td>{{user.username}}</td>
                <td class=""><span style="display: block; margin: 0 auto;"
                    *ngFor="let role of user.roles.reverse()  ">{{role}}</span> </td>
                <td>
                  <div class="status">
                  <i class="material-icons {{user.OnlineStat==-1?'online':'offline'}}">fiber_manual_record</i>
                  <span>{{user.OnlineStat==-1?'online':'offline'}}</span> 
                </div>
              </td>
                <td>{{user.fName}}</td>
                <td>{{user.lName}}</td>
                <td>{{user.email}}</td>
                <td>
                  <div (click)="edit(user.username)" class="btn btn-info pointer">view</div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        
      </div>
    </div>
  </div>
</div>