<div class="row">
    <div  class="col-lg-3 col-md-6 col-sm-6 col-12">
      <div  class="card card-statistic-1">
        <div class="card-icon l-bg-green">
          <div class="d-flex flex-column justify-content-center align-items-center h-100 ">
            <i  class="fas fa-drafting-compass mb-1"></i>
            <span  style="font-size: 15px;line-height: 15px; font-weight: 500;">Math</span>
          </div>
          
        </div>
        <div class="card-wrap">
          <div class="padding-20">
            <div class="text-right">
              <h3 class="font-light mb-0">
                <i class="ti-arrow-up text-success"></i> 10
              </h3>
              <span class="text-muted">New Clients</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div  class="col-lg-3 col-md-6 col-sm-6 col-12">
      <div  class="card card-statistic-1">
        <div class="card-icon l-bg-green">
          <div class="d-flex flex-column justify-content-center align-items-center h-100 ">
            <i  class="fas fa-drafting-compass mb-1"></i>
            <span  style="font-size: 15px;line-height: 15px; font-weight: 500;">Math</span>
          </div>
          
        </div>
        <div class="card-wrap">
          <div class="padding-20">
            <div class="text-right">
              <h3 class="font-light mb-0">
                <i class="ti-arrow-up text-success"></i> 10
              </h3>
              <span class="text-muted">New Clients</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </div>
  
  