.classCard{
  transition: all .2s ease-out;
}
.classhidden {
  transform: scale(1, 0);
}
.invisible2{
  visibility: hidden;
}
.loop-icon{
  size: 5px;
  font-size: 18px;
  position: relative;
  top:5px;
  cursor: pointer;
  scale: 1;
  transform: rotate(0deg);
  transition: scale,transform  .2s ease-out ;
}
.loop-icon:hover{
  scale: 1.1;
  transform: rotate(-90deg);
  
}