.scroller {
    overflow-y: scroll;
  }
  
  /* width */
  ::-webkit-scrollbar {
    width: 3px;
    

  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(192, 192, 192,0.7);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(97, 97, 97, 0.753);
    border-radius: 5px ;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(97, 97, 97,0.8);
  }
.main-sidebar{
    overflow-y: scroll;
}
.main-sidebar span{
    font-weight: 600;
    font-size: 14px;
    font-family: "Nunito";
}
.fsideIcons{
    width: 26px!important;
    height: 26px!important;
    text-align: center;

}
.dropped:before{
    content: "\f068"!important
}
.main-sidebar{
  transition: cubic-bezier(1s);
}
.active2 a {
  background-color:rgba(227, 237, 252, 0.514)!important;
}
.active2 .fsideIcons {
  color: rgba(68, 87, 255, 0.842)!important;
}
.sideClose {
  position: absolute;
  right: 10px;

}
.fnavIcon{
  width: 30px!important;
  height: 30px!important;
}
.brand{
  color: black!important;
 
}
.logo-name{
  position: relative;
  top: 5px;
  margin-left: 10px;
}
.badgesideBar{
  font-size: 12px!important;
  padding-bottom: 0px;
  padding: 4px 6px!important;
  border-radius: 10px;
  right: 50%;
  margin-bottom: 10px;
  position: absolute;
}