<div style=" min-height: 1450px;" [ngClass]="{'sidebar-mini':showMiniSideBar&&!isTabletMode,'dark':DarkTheme,'dark-sidebar':DarkTheme,'theme-black':DarkTheme}" >
  <div id="app" >
    <div class="main-wrapper main-wrapper-1">
      <app-navbar [mailCount]="unoppenedMailCount" [mails]="unoppenedMail" [logged]="isLoggedIn" [user]="user" [DarkTheme]="DarkTheme"></app-navbar>
      <app-sidebar [isTabletMode]="isTabletMode" ></app-sidebar>
      <!-- Main Content -->
      <div ><router-outlet></router-outlet></div>
      
      <app-footer></app-footer>
    </div>
  </div>
</div>

