<div id="body" class="theme-white" [ngClass]="{'sidebar-mini':showMiniSideBar&&!isTabletMode,'dark':DarkTheme,'dark-sidebar':DarkTheme,'theme-black':DarkTheme,'interfaceBody':interfaceLayout}" >
  
  <div  id="app" >
    <div class="main-wrapper main-wrapper-1">
      <app-navbar [interfaceLayout]="interfaceLayout" [mailCount]="unoppenedMailCount" [mails]="unoppenedMail" [logged]="isLoggedIn" [user]="user" [DarkTheme]="DarkTheme"></app-navbar>
      <app-sidebar *ngIf="!interfaceLayout" [isTabletMode]="isTabletMode" [unoppenedchatCount]="unoppenedchatCount" ></app-sidebar>
      <!-- Main Content -->
     <router-outlet></router-outlet>
      <div class="flex-grow-1" style="flex: 1;" ></div>
      <!--<div style="position: fixed;left: 200px;top:500px;" >{{height}}ssssss</div>-->
      <app-footer  class="footeroot" *ngIf="!interfaceLayout"></app-footer>
    </div>
  </div>
</div>

