<div id="body" class="theme-white" [ngClass]="{'sidebar-mini':showMiniSideBar&&!isTabletMode,'dark':DarkTheme,'dark-sidebar':DarkTheme,'theme-black':DarkTheme}" >
  <div id="app" >
    <div class="main-wrapper main-wrapper-1">
      <app-navbar [interfaceLayout]="interfaceLayout" [mailCount]="unoppenedMailCount" [mails]="unoppenedMail" [logged]="isLoggedIn" [user]="user" [DarkTheme]="DarkTheme"></app-navbar>
      <app-sidebar *ngIf="!interfaceLayout" [isTabletMode]="isTabletMode" [unoppenedchatCount]="unoppenedchatCount" ></app-sidebar>
      <!-- Main Content -->
      <div ><router-outlet></router-outlet></div>
      <!-- <div style="position: fixed;left: 200px;top: 200px;" >{{currentRoute}}</div>-->
      <app-footer *ngIf="!interfaceLayout"></app-footer>
    </div>
  </div>
</div>

