.passwordBox{
    border: 2px solid  #dc3545;
    border-radius: 5px;
    padding: 20px 25px;
}
.registerBtn{
    display: flex;
    justify-content: center;
    align-items: center;
  }
.registerBtn span {
    display: inline-block;
}