<li class="dropdown">
    <a (click)="showuserDD=!showuserDD" class="nav-link dropdown-toggle  nav-link-user pointer"> 
      <img alt="image" src="assets/img/user.png" class="user-img-radious-style"> 
      <span class="d-sm-none d-lg-inline-block"></span>
    </a>
    <div [ngClass]="{'show22':showuserDD}" class="dropdown-menu dropdown-menu-right pullDown">
      <div class="dropdown-title">Hello {{username}}</div>
      <a href="profile.html" class="dropdown-item has-icon"> 
        <i class="far fa-user"></i> Profile
      </a> 
      <a href="timeline.html" class="dropdown-item has-icon "> 
        <i class="fas fa-bolt"></i>
        Activities
      </a> <a href="#" class="dropdown-item has-icon"> <i class="fas fa-cog"></i>
        Settings
      </a>
      <div class="dropdown-divider"></div>
      <a (click)="logOut()"  class="dropdown-item has-icon text-danger pointer"> 
        <i class="fas fa-sign-out-alt"></i>
        <span>Logout</span>
        <app-spinner style="float: right;" *ngIf="loading" [type]="4" [size]="2"></app-spinner>
      </a>
      
    </div>
  </li>