.composeBtn{
    color: white!important;
    font-weight: 400;
}
.DiscardBtn{
    color: white!important;
}
.no-pointer{
    cursor: default;
}
.hideMsg{
    display: none;
}

.unoppened{
    background-color: rgba(120, 199, 236, 0.37)!important;
}