<div class="main-content">
    <section class="section">
      <div class="section-body">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <div class="card">
              <div class="body">
                <div id="mail-nav">
                  <a (click)="openComposeWindow()" class="btn btn-danger waves-effect btn-compose m-b-15 composeBtn">COMPOSE</a>
                  <ul class="" id="mail-folders">
                    <li [ngClass]="{'active':slectedFilter==1}" >
                      <a  class=" pointer " (click)="chooseFilter(1)" title="Inbox">Inbox ({{InboxdMail.length}})
                      </a>
                    </li>
                    <li [ngClass]="{'active':slectedFilter==2}">
                      <a  class=" pointer text-left" (click)="chooseFilter(2)">Sent</a>
                    </li>
                    <li [ngClass]="{'active':slectedFilter==3}">
                      <a  class=" pointer text-left" (click)="chooseFilter(3)">Draft</a>
                    </li>
                    <li [ngClass]="{'active':slectedFilter==4}">
                      <a class=" pointer text-left" (click)="chooseFilter(4)">Bin</a>
                    </li>
                    <li [ngClass]="{'active':slectedFilter==5}">
                      <a class=" pointer text-left" (click)="chooseFilter(5)">Starred</a>
                    </li>
                  </ul>
                  <h5 class="b-b p-10 text-strong">Labels</h5>
                  <ul class="" id="mail-labels">
                    <li>
                      <a href="javascript:;">
                        <i class="material-icons col-red">local_offer</i>Family</a>
                    </li>
                    <li>
                      <a href="javascript:;">
                        <i class="material-icons col-blue">local_offer</i>Work</a>
                    </li>
                    <li>
                      <a href="javascript:;">
                        <i class="material-icons col-orange">local_offer</i>Shop</a>
                    </li>
                    <li>
                      <a href="javascript:;">
                        <i class="material-icons col-cyan">local_offer</i>Themeforest</a>
                    </li>
                    <li>
                      <a href="javascript:;">
                        <i class="material-icons col-blue-grey">local_offer</i>Google</a>
                    </li>
                  </ul>
                  <h5 class="b-b p-10 text-strong">Online</h5>
                  <ul class="online-user" id="online-offline">
                    <li><a href="javascript:;"> <img alt="image" src="assets/img/users/user-2.png"
                          class="rounded-circle" width="35" data-toggle="tooltip" title="Sachin Pandit">
                        Sachin Pandit
                      </a></li>
                    <li><a href="javascript:;"> <img alt="image" src="assets/img/users/user-1.png"
                          class="rounded-circle" width="35" data-toggle="tooltip" title="Sarah Smith">
                        Sarah Smith
                      </a></li>
                    <li><a href="javascript:;"> <img alt="image" src="assets/img/users/user-3.png"
                          class="rounded-circle" width="35" data-toggle="tooltip" title="Airi Satou">
                        Airi Satou
                      </a></li>
                    <li><a href="javascript:;"> <img alt="image" src="assets/img/users/user-4.png"
                          class="rounded-circle" width="35" data-toggle="tooltip" title="Angelica Ramos	">
                        Angelica Ramos
                      </a></li>
                    <li><a href="javascript:;"> <img alt="image" src="assets/img/users/user-5.png"
                          class="rounded-circle" width="35" data-toggle="tooltip" title="Cara Stevens">
                        Cara Stevens
                      </a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="!openComposer" class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
            <div class="card">
              <div class="boxs mail_listing">
                <div class="inbox-center table-responsive">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th class="text-center">
                          <label class="form-check-label">
                            <input [(ngModel)]="selectAll" type="checkbox" (ngModelChange)="toggleSelectAll($event)"  />
                            <span class="form-check-sign"></span>
                          </label>
                        </th>
                        <th colspan="3">
                          <div class="inbox-header">
                            <div class="mail-option">
                              <div class="email-btn-group m-l-15">
                                <a  class="col-dark-gray waves-effect m-r-20" title="back"
                                  data-toggle="tooltip">
                                  <i class="material-icons">keyboard_return</i>
                                </a>
                                <a (click)="refresh()" class="col-dark-gray waves-effect m-r-20" title="Refresh"
                                  data-toggle="tooltip">
                                  <i class="material-icons">loop</i>
                                </a>
                                <div class="p-r-20">|</div>
                                <a *ngIf="slectedFilter!=4" (click)="starSelected()" class="col-dark-gray waves-effect m-r-20" title="Error"
                                  data-toggle="tooltip">
                                  <i class="material-icons text-warning">star</i>
                                </a>
                                <a *ngIf="slectedFilter!=4" (click)="deStarSelected()" class="col-dark-gray waves-effect m-r-20" title="Error"
                                  data-toggle="tooltip">
                                  <i class="material-icons">star_border</i>
                                </a>
                                <a  *ngIf="slectedFilter!=4" (click)="deleteSelected()" class="col-dark-gray waves-effect m-r-20" title="Delete"
                                  data-toggle="tooltip">
                                  <i class="material-icons">delete</i>
                                </a>
                                <a  *ngIf="slectedFilter==4" (click)="undeleteSelected()" class="col-dark-gray waves-effect m-r-20" title="Restore"
                                  data-toggle="tooltip">
                                  <i class="material-icons">restore_from_trash</i>
                                </a>
                                <a  *ngIf="slectedFilter==4" (click)="foreverDeleteSelected()" class="col-dark-gray waves-effect m-r-20" title="Delete forever"
                                  data-toggle="tooltip">
                                  <i class="material-icons text-danger">delete_forever</i>
                                </a>
                                
                                <!--<a  class="col-dark-gray waves-effect m-r-20" title="Folders"
                                  data-toggle="tooltip">
                                  <i class="material-icons">folder</i>
                                </a>
                                <a  class="col-dark-gray waves-effect m-r-20" title="Tag"
                                  data-toggle="tooltip">
                                  <i class="material-icons">local_offer</i>
                                </a>-->
                              </div>
                            </div>
                          </div>
                        </th>
                        <th class="hidden-xs" colspan="2">
                          <div class="pull-right">
                            <div class="email-btn-group m-l-15">
                              <a (click)="sync()" class="btn btn-info col-white pointer" *ngIf="modifiedMail.length>0">sync({{modifiedMail.length}})</a>
                              <a  class="col-dark-gray waves-effect flex-center " title="previous"
                                data-toggle="tooltip">
                                <i class="material-icons align-center m-l-5">navigate_before</i>
                              </a>
                              <a  class="col-dark-gray waves-effect flex-center "  title="next"
                                data-toggle="tooltip">
                                <i class="material-icons align-center m-r-10" >navigate_next</i>
                              </a>
                            </div>
                          </div>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr  *ngFor="let mail of filteredMail.slice().reverse() ; index as i"  class="unread pointer" >
                          <td class="tbl-checkbox">
                            <label class="form-check-label">
                              <input type="checkbox" [(ngModel)]="selected[i]" (ngModelChange)="test($event,mail.id)">
                              <span class="form-check-sign"></span>
                            </label>
                          </td>
                          <td (click)="openMsg(i)"  class="hidden-xs">
                            <i *ngIf="slectedFilter!=4" (click)="ToggleStar(mail.id) ;$event.stopPropagation()" class="material-icons" [ngClass]="{'text-warning':mail.tags.includes('starred')}"  >{{mail.tags.includes("starred")?'star':'star_border'}}</i>
                          </td>
                          <td  (click)="openMsg(i)" class="hidden-xs">{{mail.fromTo.username}}</td>
                          <td  (click)="openMsg(i)" class="max-texts">
                            <a >
                              <!--<span class="badge badge-primary">Work</span>-->
                              <span class="mr-2" style="font-weight: 900; word-wrap:no-wrap">{{mail.subject.substring(0,18)}}{{mail.subject.length>18?'...':''}}</span>
                              <span style="font-weight: 400;">{{mail.id.substring(0,50-mail.subject.length)}}{{(mail.subject.length+mail.body.length)>50?'...':''}}</span>
                              
                            </a>
                          </td>
                          <td  (click)="openMsg(i)" class="hidden-xs">
                            <i class="material-icons">attach_file</i>
                          </td>
                          <td  (click)="openMsg(i)"  class="text-right">{{datepipe.transform(mail.date, 'dd-MMM HH:mm')}}</td>
                        </tr>
                       
                        
                      </tbody>
                  </table>
                </div>
                <div class="row">
                  <div class="col-sm-7 ">
                    <p class="p-15">Showing {{filteredMail.length}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="openComposer" class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
            <div class="card">
              <div class="boxs mail_listing">
                <div class="inbox-center table-responsive">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th colspan="1">
                          <div class="inbox-header">
                            Compose New Message
                          </div>
                        </th>
                      </tr>
                    </thead>
                  </table>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <form 
                        class="composeForm"
                        name="form"
                        (ngSubmit)="f.form.valid && onSubmit()"
                        #f="ngForm"
                        novalidate>
                        <div class="form-group">
                            <div class="form-line">
                                <input 
                                    class="form-control"
                                    placeholder="Email" 
                                    type="email"
                                    name="email"
                                    [(ngModel)]="form.email"
                                    required
                                    email
                                    #email="ngModel">
                            </div>
                            <div class="invalid-feedback" *ngIf="email.errors && f.submitted">
                                <div *ngIf="email.errors['required']">Email is required</div>
                                <div *ngIf="email.errors['email']">
                                Email must be a valid email address
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-line">
                                <input 
                                    class="form-control"
                                    [(ngModel)]="form.subject"
                                    maxlength="50"
                                    #subject="ngModel"
                                    placeholder="subject" 
                                    type="text" 
                                    name="subject" >
                            </div>
                        </div>
                        <textarea 
                        class="border-2 rounded h-40 max p-2" 
                        maxlength="800"
                        [(ngModel)]="form.body"
                        #body="ngModel"
                        placeholder="type message" 
                        type="text" 
                        name="body"
                        required >
                        </textarea>
                        <div class="invalid-feedback" *ngIf="body.errors && f.submitted">
                            <div *ngIf="body.errors['required']">message is required</div>
                        </div>
                        <!--<div class="compose-editor m-t-20">
                            <div id="summernote"></div>
                            <input type="file" class="default" multiple>
                        </div>-->
                        <br><br>
                              <button  class="btn btn-info btn-border-radius waves-effect mr-2">Send</button>
                              <a (click)="chooseFilter(1)" class="btn btn-danger btn-border-radius waves-effect DiscardBtn ">Discard</a>

                            <div class="invalid-feedback" *ngIf="isSentError">
                                {{isSentErrorMsg}}
                            </div>

                    </form>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>