.composeBtn{
    color: white!important;
    font-weight: bold!important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.DiscardBtn{
    color: white!important;
}
.no-pointer{
    cursor: default;
}
.hideMsg{
    display: none;
}

.unoppened{
    background-color: rgba(120, 199, 236, 0.37)!important;
}
.hiddenLabel{visibility: hidden;}

.vew-mail-header{
    text-align: center;
    margin: 0;
}
.mail-sender{
    position: relative;
    top: -10px;
}
.mail-list{
    padding-top: 5px;
}
.hiddentr{
    height: 5px!important;
    visibility: hidden;
}
.hiddentr td{
    height: 5px!important;
}
.flex-centerr{
    display: flex;
    justify-content: center;
    align-items: center;
}