.NotifCard{
    transition: all .2s ease-out;
    min-height: 450px;
  }
  .classhidden {
    transform: scale(1, 0);
  }
  .invisible2{
    visibility: hidden;
  }
  .loop-icon{
    size: 5px;
    font-size: 18px;
    position: relative;
    top:5px;
    cursor: pointer;
    scale: 1;
    transform: rotate(0deg);
    transition: scale,transform  .2s ease-out ;
  }
  .loop-icon:hover{
    scale: 1.1;
    transform: rotate(-90deg); 
  }
  .centerColumn>*{
    text-align: center;
  }

  .showDD{
    display: block;
  }
  .tablenotif{
    // border: 2px solid red;
    // overflow: hidden;
    padding-bottom: 50px;
  }
  .spacerinTable{
    height: 10px;
  }
  .iconBtnActive{
    border: 1px solid #007bff;
  }
  .DDicon{
    font-size: 19px!important;
    width: 19px;
    margin-left: 2px;
    position: relative;
    bottom: 3px;
  }
  .loop-icon{
    size: 5px;
    font-size: 18px;
    position: relative;
    top:5px;
    cursor: pointer;
    scale: 1;
    transform: rotate(0deg);
    transition: scale,transform  .2s ease-out ;
  }
  .loop-icon:hover{
    scale: 1.1;
    transform: rotate(-90deg);
  }