<div class="row">
  <div *ngIf="!chosenClass" class="d-flex justify-content-center w-100"> <span class="alert alert-info">choose a class
      !! </span></div>
  <div class="col-12">
    <div class="card NotifCard" [ngClass]="{'classhidden':!chosenClass}" *ngIf="chosenClass">
      <div class="card-header">
        <div [ngClass]="{'invisible2':!editing}" (click)="backToList()" class="iconBtn">
          <div class="iconBtnBack ">
            <a data-toggle="tooltip">
              <i class="material-icons">arrow_back</i>
            </a>
          </div>
        </div>
        <h4 class="text-center width-per-100">
          <span style="left: -12px;" class="position-relative"> {{editing?addnotEdit?'New Notification':'Edit Notification':'Notifications'}} </span>
        </h4>
        <div (click)="addNotif()" class="iconBtn">
          <div class="iconBtnBack ">
            <a data-toggle="tooltip">
              <i class="material-icons">add</i>
            </a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div *ngIf="!editing" class="table-responsive">
          <table class="table table-striped">
            <thead class="centerColumn">
              <th>Type</th>
              <th>Time</th>
              <th>Notification</th>
              <th>Status</th>
              <th>Edit</th>
            </thead>
            <tbody>
              <tr *ngFor="let notification of chosenClass?.data.notifications">
                <td>
                </td>
              </tr>
              <tr *ngIf="chosenClass?.data.notifications.length==0">
                <td></td>
                <td></td>
                <td><span class="d-flex justify-content-center align-items-center">click the plus button to add a
                    notification</span></td>
                <td></td>
                <td> </td>
              </tr>
              <tr class="invisible2">
                <td>live stream</td>
                <td>2/28/2023 15:50</td>
                <td>this is an example of a notification and it's used as a place holder </td>
                <td>sent</td>
                <td> <span class="btn btn-info d-flex justify-content-center align-items-center">send</span></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="editing">
            <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
              <div class="form-group row">
                <label for="type" class="col-sm-2 col-form-label">Type :</label>
                <div class="col-sm-8">
                  <select class="form-control" [(ngModel)]="form.type" required #type="ngModel"
                  type="text" name="type" id="type" autocomplete="off"
                  [ngClass]="{'border-danger':(type.errors && f.submitted)}" ><!--(change)="userExisted=false;changed=true"-->
                  <option value="1">event</option>
                  <option value="2">liveStream</option>
                  <option value="3">custom</option>
                </select>
                </div>

                <!-- <div class="invalid-feedback" *ngIf="(type.errors && f.submitted)">
                  <div>type date is required</div>
                </div> -->
              </div>
              <fieldset class="form-group">
                <div class="row">
                  <div class="col-form-label col-sm-2 pt-0">Date to send</div>
                  <div class="col-sm-9">
                      <div class="custom-control custom-radio">
                        <input type="radio" id="now" class="custom-control-input"
                        name="send" value="1" [(ngModel)]="form.send" #now >
                        <label class="custom-control-label" for="now">now</label>
                      </div>
                      <div class="custom-control custom-radio"> 
                      <div class="row">
                        <div class="col-sm-2 mt-2">
                          <input type="radio" id="later" class="custom-control-input" 
                          name="send" value="2" [(ngModel)]="form.send" #later>
                          <label  class="custom-control-label" for="later">Later at :</label>
                        </div>
                        <div class="col-sm-9 ">
                          <input [ngClass]="{'border-danger':((time.errors && f.submitted)||formInvalid==1)&&form.send==='2'}" required id="time" class="form-control"
                           name="time"  [(ngModel)]="form.time" #time="ngModel" type="datetime-local" [disabled]="form.send==='2' ? false :true">
                          <div class="invalid-feedback" *ngIf="(time.errors && f.submitted)">
                            <div>you need to se a date</div>
                          </div>
                          <div class="invalid-feedback" *ngIf="(formInvalid==1)&&form.send==='2'">
                            {{formInvalidmsg}}
                          </div>
                        </div>

                      </div>
                      </div>
                  </div>
                </div>
              </fieldset>
              <div class="form-group row ">
                <div class="col-form-label col-sm-2 pt-2">Notification</div>
                <div class="col-sm-9">
                  <input id="notification" type="text" class="form-control" name="notification" [(ngModel)]="form.notification"
                   maxlength="200" #notification="ngModel" placeholder="new Notification " type="text">
                </div>
                <div class="invalid-feedback" *ngIf="notification.errors ">
                  <div *ngIf="notification.errors['required']">Last Name is required</div>
                  <div *ngIf="notification.errors['maxlength']">
                    the Notification text must be at most 200 characters
                  </div>
                </div>
              </div>
                <button class=" registerBtn btn btn-primary ml-auto">
                  <span>{{addnotEdit?'Add':'Edit'}}</span>
                  <span *ngIf="loading" class="mx-2"></span>
                  <app-spinner *ngIf="loading" [type]="1"></app-spinner>
                </button>
                <!-- <div class="invalid-feedback" *ngIf="formInvalid>-1">
                  {{formInvalidmsg}}
                </div> -->
            </form>
        </div>
      </div>
    </div>
  </div>
</div>