.absolute{
    position: absolute;
}


/*.navbar * {
    font-weight: 500;
    font-size: 14px;
}*/
.search-element {
   // background-color:rgba(227, 237, 252, 0.568)!important;
    border-radius: 4px;
    
}
/*.search-element input,.search-element .btn{
    background-color:rgba(255, 255, 255, 0)!important;
}*/
.sidebar-toggle-1{
    display: block!important;
  }
  .sidebar-toggle-2{
    display: none!important;
  }
  @media (max-width: 1024px) {
  
    .sidebar-toggle-1{
      display: none!important;
  }
  .sidebar-toggle-2{
      display: block!important;
  }

  }
  .interfaceLayout{
    left: 0px !important;
    transition: 0s;
    box-shadow:none!important;
    height: 100px;
  }
  .authBtn{
    padding: 12px 28px;
    margin-right: 5px;
    
  }
  .authBtn i{
    font-size: 16px;
  }
  .authBtn span{
    font-size: 20px;
    margin-left: 5px;
  }
  .joinBtn{
    margin-right: 15px;
  }