.absolute{
    position: absolute;
}
.fnavIcon5{
  color: red!important;
}
/*.navbar * {
    font-weight: 500;
    font-size: 14px;
}*/
.search-element {
   // background-color:rgba(227, 237, 252, 0.568)!important;
    border-radius: 4px;
    
}
/*.search-element input,.search-element .btn{
    background-color:rgba(255, 255, 255, 0)!important;
}*/
.sidebar-toggle-1{
    display: block!important;
  }
  .sidebar-toggle-2{
    display: none!important;
  }
  @media (max-width: 1024px) {
  
    .sidebar-toggle-1{
      display: none!important;
  }
  .sidebar-toggle-2{
      display: block!important;
  }

  }
  .interfaceLayout{
    left: 0px !important;
    transition: 0s;
    box-shadow:none!important;
    top: 0;
    height: 100px;
  }
  .authBtn{
    padding: 12px 28px;
    margin-right: 5px;
    
  }
  .authBtn span{
    font-size: 20px;
  }
  .joinBtn{
    margin-right: 15px;
  }
  .navBrand {
    margin-left: 20px;
    display: flex;
    align-items: flex-end;
  }
  .navBrand img{
    width: 50px;
    height: 50px;
  }
  .navBrand span {
    color: rgb(71, 71, 71);
    margin-left: 10px;
    font-size: 26px;
    font-weight: 600;
  }
  @media (max-width: 575.98px) {
    .navBrand{
      margin-left: 5px;
    }
    .authBtn{
      padding: 8px 15px;
      margin-right: 5px;
    }
    .authBtn span{
      font-size: 15px;
    }
}