<nav [ngClass]="{'interfaceLayout':interfaceLayout}"  class="navbar navbar-expand-lg main-navbar fixed absolute">
  <div class="form-inline mr-auto">
    <div class="navBrand" *ngIf="!logged&&interfaceLayout" >
        <img alt="image" src="assets/img/logo.png"  /> 
        <span  class="logo-name">E-learn</span>
    </div>

    <ul class="navbar-nav mr-3">
      <li *ngIf="!interfaceLayout">
        <a (click)="toggeleSideBarMini()" class="nav-link  collapse-btn pointer sidebar-toggle-1"> 
            <i-feather class="fnavIcon" name="align-justify"></i-feather>
        </a>
      </li>
      <li *ngIf="!interfaceLayout">
        <a (click)="toggeleSideBarShow()"  class="nav-link  collapse-btn pointer sidebar-toggle-2"> 
            <i-feather class="fnavIcon" name="align-justify"></i-feather>
        </a>
      </li >
      <li  *ngIf="!interfaceLayout">
        <a (click)="toggleFullScreen()" class="nav-link  fullscreen-btn pointer">
            <i-feather class="fnavIcon" name="Maximize"></i-feather>
        </a>
      </li >
      <li><app-theme-switch  *ngIf="!interfaceLayout" [isChecked]="DarkTheme"></app-theme-switch></li>  

      <li *ngIf="!interfaceLayout">
        <form class="form-inline mr-auto" >
          <div class="search-element sidebar-toggle-1">
            <input class="form-control"  type="search" placeholder="Search" aria-label="Search" data-width="200">
            <button  class="btn" type="submit">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </form>
      </li>
    </ul>
  </div>
  <ul class="navbar-nav navbar-right">
    <app-msg-dd   [mailCount]="mailCount" [mails]="mails" *ngIf="logged" ></app-msg-dd>
    <app-ntf-dd   *ngIf="logged" ></app-ntf-dd>
    <app-user-dd  *ngIf="logged" [username]="user.username" [profileImage]="user.profileImage" ></app-user-dd>
    <a [ngClass]="{'authBtn joinBtn':interfaceLayout}" routerLink="/signup" class="btn btn-icon icon-left btn-warning " *ngIf="!logged&&interfaceLayout" >
      <span>join</span>
    </a>
    <a [ngClass]="{'authBtn loginBtn':interfaceLayout}" routerLink="/login" class="btn btn-icon icon-left btn-outline-primary " *ngIf="!logged&&interfaceLayout" >
      <span>login</span>
    </a>
  </ul>
</nav>