<div class="navbar-bg"></div>
<nav [ngClass]="{'interfaceLayout':interfaceLayout}"  class="navbar navbar-expand-lg main-navbar fixed absolute">
  <div class="form-inline mr-auto">
    <ul class="navbar-nav mr-3">
      <li *ngIf="!interfaceLayout">
        <a (click)="toggeleSideBarMini()" class="nav-link  collapse-btn pointer sidebar-toggle-1"> 
            <i-feather class="fnavIcon" name="align-justify"></i-feather>
        </a>
      </li>
      <li *ngIf="!interfaceLayout">
        <a (click)="toggeleSideBarShow()"  class="nav-link  collapse-btn pointer sidebar-toggle-2"> 
            <i-feather class="fnavIcon" name="align-justify"></i-feather>
        </a>
      </li >
      <li *ngIf="!interfaceLayout">
        <a (click)="toggleFullScreen()" class="nav-link  fullscreen-btn pointer">
            <i-feather class="fnavIcon" name="Maximize"></i-feather>
        </a>
      </li >
        <app-theme-switch *ngIf="!interfaceLayout" [isChecked]="DarkTheme"></app-theme-switch>

      <li *ngIf="!interfaceLayout">
        <form class="form-inline mr-auto" >
          <div class="search-element">
            <input class="form-control"  type="search" placeholder="Search" aria-label="Search" data-width="200">
            <button  class="btn" type="submit">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </form>
      </li>
    </ul>
  </div>
  <ul class="navbar-nav navbar-right">
    <app-msg-dd [mailCount]="mailCount" [mails]="mails" *ngIf="logged" ></app-msg-dd>
    <app-ntf-dd *ngIf="logged" ></app-ntf-dd>
    <app-user-dd *ngIf="logged" [username]="user.username" ></app-user-dd>
    <a routerLink="/login" class="btn btn-icon icon-left btn-primary" *ngIf="!logged" >
      <i class="far fa-user"></i>
      <span>login</span>
    </a>
  </ul>
</nav>