<div class="row">
    <div *ngIf="!chosenClass" class="d-flex justify-content-center w-100"> <span class="alert alert-info">choose a class
        !! </span></div>
    <div class="col-12">
      <div class="card NotifCard" [ngClass]="{'classhidden':!chosenClass}" *ngIf="chosenClass">
        <div class="card-header d-flex justify-content-center align-items-center">
          <!-- TODO implement select multiple checkbox -->
          <div [ngClass]="{'invisible2':!editing}" (click)="backToList()" class="iconBtn BtnToLeft">
            <div class="iconBtnBack ">
              <a data-toggle="tooltip">
                <i class="material-icons">arrow_back</i>
              </a>
            </div>
          </div>
          <h4 class="text-center my-2">
            <span> {{editing?addnotEdit?'New Whiteboard':'Edit Whiteboard':'Whiteboards'}} </span>
          </h4>
          <div *ngIf="!editing&&addnotEdit" (click)="addNotif()" class="iconBtn BtnToRight">
            <div class="iconBtnBack ">
              <a data-toggle="tooltip">
                <i class="material-icons">add</i>
              </a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div *ngIf="!editing" class="table-responsive tablenotif">
            <table class="  table table-striped">
              <thead> <!--class="centerColumn"-->
                <th>Type</th>
                <th>Time</th>
                <th>Notification</th>
                <th>Status<!--<i (click)="checkschedule()" class="material-icons loop-icon">loop</i>--></th>
                <th>Action</th>
                <th>Edit</th>
              </thead>
              <tbody>
                <tr *ngFor="let Whiteboard of chosenClass?.data.whiteboards.reverse() ,index as i" >
       
                </tr>
                <tr *ngIf="chosenClass?.data.whiteboards.length==0">
                  <td></td>
                  <td></td>
                  <td><span class="d-flex justify-content-center align-items-center">click the plus button to add a
                      notification</span></td>
                  <td></td>
                  <td></td>
                  <td> </td>
                </tr>
                <tr class="invisible2">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div *ngIf="editing">
            whiteboard
          </div>
        </div>
      </div>S
    </div>
  </div>