<div class="row">
    <div *ngIf="!chosenClass" class="d-flex justify-content-center w-100"> <span class="alert alert-info">choose a class
        !! </span></div>
    <div class="col-12">
      <div class="card WboardCard" [ngClass]="{'classhidden':!chosenClass}" *ngIf="chosenClass">
        <div class="card-header d-flex justify-content-center align-items-center">
          <!-- TODO implement select multiple checkbox -->
          <div [ngClass]="{'invisible2':!editing}" (click)="backToList()" class="iconBtn BtnToLeft">
            <div class="iconBtnBack ">
              <a data-toggle="tooltip">
                <i class="material-icons">arrow_back</i>
              </a>
            </div>
          </div>
          <h4 class="text-center my-2">
            <span *ngIf="!editing"> Whiteboards </span>
            <span *ngIf="editing" #WboardnameinputBox> 
              <span *ngIf="!Wboardnamediting"> {{form.name}}</span>
              <span *ngIf="Wboardnamediting">
                <input type="text" [(ngModel)]="form.name" class="Wboardnameinput" #Wboardnameinput />
              </span>
              <i (click)="editName()" class="fa-solid editicon fa-pen-to-square "></i>
            </span>
          </h4>
          <div *ngIf="!editing" (click)="addWboard()" class="iconBtn BtnToRight">
            <div class="iconBtnBack ">
              <a data-toggle="tooltip">
                <i class="material-icons">add</i>
              </a>
            </div>
          </div>
        </div>
        <div class="card-body" #cardBody>
          <div *ngIf="!editing" class="table-responsive tablenotif">
            <table class="  table table-striped">
              <thead> <!--class="centerColumn"-->
                <th>Type</th>
                <th>Time</th>
                <th>Notification</th>
                <th>Status<!--<i (click)="checkschedule()" class="material-icons loop-icon">loop</i>--></th>
                <th>Action</th>
                <th>Edit</th>
              </thead>
              <tbody>
                <tr *ngFor="let Whiteboard of chosenClass?.data.whiteboards.reverse() ,index as i" >
       
                </tr>
                <tr *ngIf="chosenClass?.data.whiteboards.length==0">
                  <td></td>
                  <td></td>
                  <td><span class="d-flex justify-content-center align-items-center">click the plus button to add a
                    new Whiteboard</span></td>
                  <td></td>
                  <td></td>
                  <td> </td>
                </tr>
                <tr class="invisible2">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div [ngClass]="{'invisible2':!editing}" class="whiteboardcanvas">
            <app-whiteboard #whiteboardComp></app-whiteboard>
            <div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>