<li class="dropdown dropdown-list-toggle">
    <a  (click)="showMsgDD=!showMsgDD"  class="nav-link  message-toggle pointer">
      <i-feather class="fnavIcon" name="mail"></i-feather>
      <span class="badge headerBadge1"> 6 </span> 
    </a>
    <div [ngClass]="{'show':showMsgDD}" class="dropdown-menu dropdown-list dropdown-menu-right pullDown ">
      <div class="dropdown-header">
        Messages
        <div class="float-right">
          <a href="#">Mark All As Read</a>
        </div>
      </div>
      <div class="dropdown-list-content dropdown-list-message">
        <a href="#" class="dropdown-item"> <span class="dropdown-item-avatar
                                    text-white"> <img alt="image" src="assets/img/users/user-1.png" class="rounded-circle">
          </span> <span class="dropdown-item-desc"> <span class="message-user">John
              Deo</span>
            <span class="time messege-text">Please check your mail !!</span>
            <span class="time">2 Min Ago</span>
          </span>
        </a> <a href="#" class="dropdown-item"> <span class="dropdown-item-avatar text-white">
            <img alt="image" src="assets/img/users/user-2.png" class="rounded-circle">
          </span> <span class="dropdown-item-desc"> <span class="message-user">Sarah
              Smith</span> <span class="time messege-text">Request for leave
              application</span>
            <span class="time">5 Min Ago</span>
          </span>
        </a> <a href="#" class="dropdown-item"> <span class="dropdown-item-avatar text-white">
            <img alt="image" src="assets/img/users/user-5.png" class="rounded-circle">
          </span> <span class="dropdown-item-desc"> <span class="message-user">Jacob
              Ryan</span> <span class="time messege-text">Your payment invoice is
              generated.</span> <span class="time">12 Min Ago</span>
          </span>
        </a> <a href="#" class="dropdown-item"> <span class="dropdown-item-avatar text-white">
            <img alt="image" src="assets/img/users/user-4.png" class="rounded-circle">
          </span> <span class="dropdown-item-desc"> <span class="message-user">Lina
              Smith</span> <span class="time messege-text">hii John, I have upload
              doc
              related to task.</span> <span class="time">30
              Min Ago</span>
          </span>
        </a> <a href="#" class="dropdown-item"> <span class="dropdown-item-avatar text-white">
            <img alt="image" src="assets/img/users/user-3.png" class="rounded-circle">
          </span> <span class="dropdown-item-desc"> <span class="message-user">Jalpa
              Joshi</span> <span class="time messege-text">Please do as specify.
              Let me
              know if you have any query.</span> <span class="time">1
              Days Ago</span>
          </span>
        </a> <a href="#" class="dropdown-item"> <span class="dropdown-item-avatar text-white">
            <img alt="image" src="assets/img/users/user-2.png" class="rounded-circle">
          </span> <span class="dropdown-item-desc"> <span class="message-user">Sarah
              Smith</span> <span class="time messege-text">Client Requirements</span>
            <span class="time">2 Days Ago</span>
          </span>
        </a>
      </div>
      <div class="dropdown-footer text-center">
        <a href="#">View All <i class="fas fa-chevron-right"></i></a>
      </div>
    </div>
  </li>