<li class="dropdown dropdown-list-toggle navLi">
  <a (click)="showMsgDD=!showMsgDD" class="nav-link  message-toggle pointer">
    <i-feather class="fnavIcon" name="mail"></i-feather>
    <span *ngIf="mailCount>0" class="badge headerBadge1"> {{mailCount}}</span>
  </a>
  <div [ngClass]="{'show22':showMsgDD}" class="dropdown-menu dropdown-list dropdown-menu-right pullDown ">
    <div class="dropdown-header">
      Messages
      <!--<div class="float-right">
          <a href="#">Mark All As Read</a>
        </div>-->
    </div>
    <div class="dropdown-list-content dropdown-list-message">
      <a *ngFor="let mail of mails;index as i" class="dropdown-item">
        <span class="dropdown-item-avatar text-white">
          <img alt="image" src="assets/img/users/user-{{(i%5)+1}}.png" class="rounded-circle">
        </span>
        <span class="dropdown-item-desc"> 
          <span class="message-user">
            {{mail.fromTo.username}}
          </span>
          <span class="time messege-text">{{mail.subject.substring(0,40)}}</span>
          <span class="time">{{datepipe.transform(mail.date, 'dd-MMM HH:mm')}}</span>
        </span>
      </a>
    </div>
    <div class="dropdown-footer text-center">
      <a href="#">View All <i class="fas fa-chevron-right"></i></a>
    </div>
  </div>
</li>