<div [ngClass]="{'showModal':modelShowen,'fadeModel':fadeModel}" class="modal" id="modal">
  <div class="modal-dialog" role="document" #modalDialog>
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="formModal"> {{addnotEdit?'Add Class':'Edit Class'}}</h5>
        <button type="button" class="close" (click)="closeModel()">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body modalstyle">
        <form class="">
          <div class="form-group mb-2">
            <label class="mb-1">Class name : </label>
            <input name="event" [(ngModel)]="form.class" type="text" class="form-control"
              placeholder="{{parsesubject(+form.subject)}} Class">
            <!-- // TODO form-control limit class name ... -->
          </div>
          <div class="form-group mb-2">
            <div class="selectgroup selectgroup-pills">
              <ul class="list-group roles-group">
                <li class="list-group-item d-flex  flex-wrap align-items-center">
                  <label class="form-label mb-0 d-flex align-items-center justify-content-cente">
                    <h6 class="mr-3">Subjet :</h6>
                  </label>
                  <label class="selectgroup-item mb-0  ">
                    <input type="radio" name="subject" [(ngModel)]="form.subject" value="1" class="selectgroup-input">
                    <span class="selectgroup-button">Math</span>
                  </label>
                  <label class="selectgroup-item mb-0 ">
                    <input type="radio" name="subject" [(ngModel)]="form.subject" value="2" class="selectgroup-input">
                    <span class="selectgroup-button">Physics</span>
                  </label>
                  <label class="selectgroup-item mb-0 ">
                    <input type="radio" name="subject" [(ngModel)]="form.subject" value="3" class="selectgroup-input">
                    <span class="selectgroup-button">all</span>
                  </label>
                  <!-- <label class="selectgroup-item mb-0 ">
                    <input type="radio" name="subject" [(ngModel)]="form.subject" value="4"
                      class="selectgroup-input">
                    <span class="selectgroup-button">Admin</span>
                  </label> -->
                </li>
              </ul>
            </div>
          </div>
          <!-- <div class="form-group mb-3">
						<label class="mb-1">To : </label>
						<input name="endDate" [(ngModel)]="form.endDate" type="date" class="form-control">
					</div> -->
          <div class="d-flex align-items-center justify-content-center">
            <button (click)="submitModal()" type="button" class="btn btn-primary m-t-15 waves-effect ">{{addnotEdit?'Add Class':'Edit Class'}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div  class="main-content pt-5">
    <section class="section">
      <div class="divider"><span></span><span>Classes</span><span></span></div>
      <div class="row">
        <!-- // TODO -add leadig state  loadingClasses  -->
        <ng-container *ngIf="!loadingClasses">
          <div *ngFor="let class of classes index as i" class="col-lg-3 col-md-6 col-sm-6 col-12">  
            <div (click)="chooseClass(i)" class="card card-statistic-1 grow2 classCard" [ngClass]="{'active-class':chosenIndex==i}">
              <div class="card-icon classCardIcon">
                <div class="d-flex flex-column justify-content-center align-items-center h-100 ">
                  <i class="fas {{parsesubjectIcon(class.subject)}} mb-1"></i>
                  <span class=" text-light" style="font-size: 15px;line-height: 15px; font-weight: 500;">{{parsesubject(class.subject)}}</span>
                </div>
              </div>
              <div class="h-100 flex-containerr">
                <div class="padding-20">
                  <div class="flex-containerr">
                    <h4 class="text-light mb-2">{{class.name}}</h4>
                    <span class="font-light  text-light">
                      <i class="ti-arrow-up text-light">code : {{class.uuid}}</i>
                    </span>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="loadingClasses">
          <div *ngFor="let i of [].constructor(classesCount)" class="col-lg-3 col-md-6 col-sm-6 col-12">
            <div class="card card-statistic-1 grow2 classCard">
              <app-sceleton-load [type]="1" [height]="100" [width]="-1" [border]="10"></app-sceleton-load>
            </div> 
          </div>
        </ng-container>

        <div class="{{(classes&&classes.length%4==0&&!loadingClasses)||(classesCount%4==0)?'col-12':'col-lg-3 col-md-6 col-sm-6 col-12'}} ">
          <div class=" add-bttn d-flex flex-column justify-content-center align-items-center grow3  ">
            <button (click)="openModel(true)" title="add new class" class="button-four"><i
                class="fas fa-plus col-white "></i></button>
          </div>
        </div>
      </div>
      <div class="row ">
        <div  class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
          <div [ngClass]="{'active-mod-page':activeroute==1}" (click)="activateroute(1)" class="card pointer grow transparent-border">
            <div class="card-statistic-4">
              <div class="d-flex align-items-center justify-content-between">
                <div class="row ">
                  <div   class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3   ">
                    <div class="card-content">
                      <h3 class="font-18">Users</h3>
                      <h5 class="mt-3 font-15">Enrolled : {{usersCount!=-1?usersCount:''}}</h5>
                      <p class="mb-0"><span class="col-green"></span>connected : {{connectedCount!=-1?connectedCount:''}}</p>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0 d-flex align-items-center justify-content-between">
                    <div class="banner-img ">
                      <img src="../../../assets/img/banner/email.png"  alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div [ngClass]="{'active-mod-page':activeroute==2}" (click)="activateroute(2)" class="card pointer grow transparent-border">
              <div class="card-statistic-4">
                <div class="align-items-center justify-content-between">
                  <div class="row ">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3 ">
                      <div class="card-content">
                        <h3 class="font-18">Events</h3>
                        <h5 class="mt-3 font-15">events : {{selectedEventCount[chosenIndex]!=-1?selectedEventCount[chosenIndex]:''}}</h5>
                        <p class="mb-0"><span class="col-green"></span>today : {{selectedEventCounttoday[chosenIndex]!=-1?selectedEventCounttoday[chosenIndex]:''}}</p>
                        <!-- <p class="mb-0"><span class="col-green"></span>next : {{selectednextEvent[chosenIndex]?datepipe.transform(selectedEventCounttoday[chosenIndex],'dd/MM/yy hh:mm') :''}}</p> -->
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0 d-flex align-items-center justify-content-between" >
                      <div class="banner-img">
                        <img src="../../../assets/img/banner/calendar.png" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div [ngClass]="{'active-mod-page':activeroute==3}" (click)="activateroute(3)" class="card pointer grow transparent-border">
            <div class="card-statistic-4">
              <div class="align-items-center justify-content-between">
                <div class="row ">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                    <div class="card-content">
                      <h3  class="font-18 ">Notifications</h3>
                      <!-- <h5 class="mt-3 font-15"></h5> -->
                      <p class="mb-0"><span class="col-green"></span>(soon)</p>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0 d-flex align-items-center justify-content-between">
                    <div class="banner-img">
                      <img src="../../../assets/img/banner/notifications.png" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div [ngClass]="{'active-mod-page':activeroute==4}" (click)="activateroute(4)"  class="card pointer grow transparent-border">
            <div class="card-statistic-4">
              <div class="align-items-center justify-content-between">
                <div class="row ">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                    <div class="card-content">
                      <h3 class="font-18">Live Streams</h3>
                      <!-- <h5 class="mt-3 font-15">scheduled :</h5> -->
                      <p class="mb-0"><span class="col-green"></span>(soon)</p>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0 d-flex align-items-center justify-content-between">
                    <div class="banner-img" >
                      <img src="../../../assets/img/banner/chat.png"  alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="d-flex align-items-center justify-content-cente" ><div (click)="testt()" class="btn btn-primary">test</div> </div> -->
      <router-outlet></router-outlet>
    </section>
  </div>