
<div [ngClass]="{'invisible2':params.mode !=3}" id="meetingSDKElement" #meetingSDKElement>
</div>
<div class="d-flex " id="streamcontainer">
    <section [ngClass]="{'invisible2':params.mode !=1}" id="slideContainer" #slideContainer>
        <app-slideboard #SlideboardComponent></app-slideboard>
    </section>
    <section id="connectedUserList">
        <div (click)="sendDataTo(i)"  *ngFor="let user of students ; index as i ">
            {{user.info.username}}
        </div>
    </section>
</div>
<h1>video 1</h1>
<video id="video" #video crossorigin="anonymous"></video>
<h1>video 2</h1>
<video id="video2" #video2 crossorigin="anonymous"></video>
<canvas #canvas width="600" height="300"></canvas>
<!-- <h1> eventsLog : {{eventsLog}}</h1>
<h1> dataRecieved : {{dataRecieved}}</h1> -->