.loader1 {
    width: 48px;
    height: 48px;
    border: 1px solid #FFF;
    border-radius: 50%;
    display: block;
    box-sizing: border-box;
    position: relative;
    animation: pulse 1s linear infinite;
  }
  .loader1:after {
    content: '';
    position: absolute;
    width: 48px;
    height: 48px;
    border: 1px solid #FFF;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: scaleUp 1s linear infinite;
  }
  
  @keyframes scaleUp {
    0% { transform: translate(-50%, -50%) scale(0) }
    60% , 100% { transform: translate(-50%, -50%)  scale(1)}
  }
  @keyframes pulse {
    0% , 60% , 100%{ transform:  scale(1) }
    80% { transform:  scale(1.2)}
  }
  
  @keyframes animloader1 {
    0% {
      transform: scale(0);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }
       
      
  .loader2 {
    width: 48px;
    height: 48px;
    display: block;
    position: relative;
  }
  .loader2::after,
  .loader2::before {
    content: '';  
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid #FFF;
    position: absolute;
    left: 0;
    top: 0;
    animation: animloader2 1.5s linear infinite;
  }
  .loader2::after {
    animation-delay: 0.75s;
  }
  
  @keyframes animloader2 {
    0% {
      transform: scale(0);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }

  .loader3 {
  border: 2px solid;
  border-color: transparent #FFF;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation3 2s linear infinite;
}
.loader3::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  border: 24px solid;
  border-color: transparent rgba(255, 255, 255, 0.15);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

@keyframes rotation3 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

.loader4 {
    width: 48px;
    height: 48px;
    border: 2px solid;
    border-color: #dc3545 transparent;
    border-radius: 50%;
    display: block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
.size_1{
    width: 14px;
    height: 14px;
}
.size_1::after,
.size_1::before{
    width: 14px;
    height: 14px;
}
.size_2{
    width: 15px;
    height: 15px;
}
.size_2::after{
    width: 13px;
    height: 13px;
}